.SearchlistEvents{
    display: flex;
    justify-content: space-evenly;

}
.SearchlistEvents a{
    color: black;
    font-size: smaller;
    padding: 2%;
    margin: 0;
}

#concert{
    width: 2%;
    height: auto;
}