#Events{
    border-radius: 35px;
    margin: 60px 15px 0 15px;
    background-color: white;
}

#EventsBtn{
    display: flexbox;
    float: right;
    margin-right: 15px;
}

#Events a {
   padding: 35px;
}
