#getLyricsBtn{
    display: flexbox;
    float: right;
    margin-right: 15px;
}

#goBackBtn{
    display: inline-flex;
    margin-left: 15px;
    padding: 15px; 
    color: #afff14;
    background-color: tomato;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 900;
    border: none;
}

.lyricsBody{
    background-color: white;
    border-radius: 35px;
    margin: 25px;
    text-align: center;
    color: black;
}


.lyricsBody p{
    padding: 35px 150px;
    text-align: center;
}