.navbar > h2 {
    display: inline;
    list-style-type: none;
    background-color: black;
    padding: 10px 0;
    text-decoration: none;
    color: grey;
}

.navbar > h2:hover {
    color: white;
}