nav{
    display: flex;
    justify-content: space-around;
    background-color: black;
    border-radius: 35px;
    height: 75px;
    margin: 1.7em 0;
    box-shadow: 1px 1px 2px rgb(53, 52, 52),
                -1px -1px 2px rgb(53, 52, 52);
}

nav a{
    color: white;
    align-self: center;

}

nav a:hover{
    transform: scale(1.1);

}

nav a:focus{
    color: tomato;

}