.App{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "ControlBox navigation";
    gap: 2em;
    background-color: darkblue;
}

.ControlBox{
    grid-area: ControlBox;
    background-color: blueviolet;
}

.navigation{
    grid-area: navigation;
}