/* .App{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "ControlBox navigation";
    gap: 2em;
    background-color: darkblue;
}

.ControlBox{
    grid-area: ControlBox;
    background-color: blueviolet;

}

.navigation{
    grid-area: navigation;
} */


/* ____________________________________________Mobile Ansicht*/

@media only screen and (max-width:768px) { 
    
.ControlBox{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows:  50% 1fr;
    grid-template-areas: "ControlBox",
                         "Navigation";
}
/* 
.ControlBox{
    grid-area: ControlBox;
}

.navigation{
    grid-area: Navigation;
}*/

}