@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/*__________________________mobile Version*/

    body{
        background-color: #5602FF;
        font-family: 'Poppins', sans-serif;
        padding: 0;
        }

    .App{
        display: grid;
        box-sizing: border-box;
        gap: 1em;
        grid-template-rows: .5fr .5fr;
        grid-template-columns: 1fr;
        grid-template-areas: "CurrentSong"
                            "Search";

    }
    .navigation{
        grid-area: Search;
        text-align: left;
        background-color: white;
        padding: 20px 0;
    } 

    .ControlBox{
        grid-area: CurrentSong;
    }

    nav{
        display: inline-flex;
    }
    
    h2{
        padding: 0 1em;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    a img{
        padding: 0 1em;
        margin-top: 2em;
    } 


/* ________________DESKTOP ANSICHT */


@media (min-device-width: 800px) { 

    .App{
        display: grid;
        box-sizing: border-box;
        grid-template-rows: 1fr .5fr;
        grid-template-columns: .4fr .6fr;
        grid-template-areas: "CurrentSong Search"
                            "CurrentSong Search";

    }

    .navigation{
        height:100vh;
        border-left: 5px solid white;
        border-radius: 35px 0 0 35px;
    } 
}